<h1>Admin Dashboard</h1>
<%= link_to [:admin, :products] do %>
  <p class="alert alert-info">Product count: <%= @counts[:products] %></p>
<% end %>
<%= link_to [:admin, :categories] do %>
  <p class="alert alert-info">Category count: <%= @counts[:categories] %></p>
<% end %>